/* stylelint-disable selector-id-pattern */

html,
body,
#__nuxt {
	width: 100%;
	min-height: 100dvh;
}

html {
	&.dark-mode {
		background-color: var(--background-color-negative);
		color: var(--color-primary);
	}
}

a {
	color: var(--link-color);
	cursor: pointer;
	transition: color 0.3s ease;

	&:hover {
		color: var(--link-color-hover);
	}

	&:visited {
		color: var(--link-color);
	}
}

ul,
ol {
	list-style-type: none;
}
