input[type="text"] {
	padding: 0.75rem 0.25rem 0.75rem 0.75rem;
	color: var(--text-color);
	display: inline-flex;
	border-radius: 8px;
	border: 2px solid var(--input-color);
	font-weight: bold;
	background-color: #fff;

	&::placeholder {
		color: var(--input-color);
	}
}

input[type="checkbox"] {
	all: unset;
	border: 2px solid var(--input-color);
	height: 20px;
	width: 20px;
	position: relative;
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&:checked {
		&::before {
			content: '';
			position: absolute;
			left: 2px;
			top: 1px;
			height: 16px;
			width: 16px;
			background-color: var(--gray-500);
			clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		}
	}
}