@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@layer base {
	a:focus-visible,
	button:focus-visible,
	[role='button']:focus-visible,
	[tabindex='0']:focus-visible {
		outline: 2px solid;
		outline-offset: 1px;
		outline-color: var(--link-color-hover);
	}

	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.vertical-divider {
		height: 100%;
		width: 2px;
		background-color: var(--color-primary);
	}

	.full-container {
		width: 100dvw;
	}
}
